/*Empieza el header*/

header{
    background-color: beige;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid black;
    position: sticky; /*joaco ayuda no me sale el sticky*/
    top: 0;
}
header div{
    width: 35%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div a{
    width: 25%;
    height: auto;
}
header div a img{
    width:100%;
    height: auto;
}
header div nav{
    width: 100%;
    height: auto;
}
header div nav ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
header div nav ul li a{
    width: 100%;
    height: auto;
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 93%;
    font-weight: 400;
}
header div nav ul li a:hover{
    text-decoration: underline;
    font-weight: 600;
}

/*Termina el header*/

/*Empiezan los mains*/


/*Index.html*/

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section{
    background-color: rgb(216, 213, 213);
    width: 100%;
    height: auto;
}
.productosDestacados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productosDestacados h3{
    font-family: Montserrat, "Arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif";
    font-size: 180%;
    font-weight: 600;
    padding: 2%;
}
.pDestacados{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}
.pDestacados div{
    width: 25%;
    height: auto;
    background-color: rgb(252, 252, 252);
    padding: 3%;
    box-shadow: 5px 5px 5px 2px grey;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pDestacados div img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}
.historia{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.historia div{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 235, 235);
    padding: 2%;
    border-radius: 10px 10px 10px 10px;
}
.historia div h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%;
    font-weight: 600;
    padding-bottom: 1%;
}
.historia div p{
    height: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.productosDestacados .ubicaciones{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    margin: 1%;
}
.productosDestacados .ubicaciones div{
    width: 40%;
    height: auto;
    background-color: rgb(252, 252, 252);
    padding: 2%;
    padding-bottom: 6%;
    box-shadow: 5px 5px 5px 2px grey;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productosDestacados .ubicaciones div p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 2%;
    font-size: 120%;
}
.productosDestacados .ubicaciones div iframe{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}
/*Termina Index.html*/

/*Empieza sobreNosotros.html*/

.sobreNosotros, .nuestraHistoria {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #e9d7b7; 
    flex: 1;
    padding-top: 5%;
    padding-bottom: 5%;
}
.nuestraHistoria div, .sobreNosotros div{
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sobreNosotros{
    border-bottom: 1px solid black;
}
.nuestraHistoria div img, .sobreNosotros div img{
    width: 50%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}
.sobreNosotros p, 
.nuestraHistoria p {
    flex: 2;
    padding: 2%;
}

.sobreNosotros h3,
.nuestraHistoria h3 {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1%;
}

.sobreNosotros p,
.nuestraHistoria p {
    font-size: 90%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Termina SobreNosotros.html*/

/*Empieza sección de productos en makeup perfume y cremas*/

.productos {
    background-color: rgb(216, 213, 213);
    text-align: center;
    padding: 2%;
}

.productos h1 {
    margin-bottom: 1%;
}
article {
    background-color: black;
    position: sticky;
    top: 120px;
}
article p {
    color: white;
    padding: 0.5%;
    font-weight: 600;
    text-align: center;
}
article p a {
    color: white;
    text-decoration: none;
}
article p a:hover {
    text-decoration: underline;
    color: blue;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.productos-grid div {
    background-color: white;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.productos-grid div:hover{
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    border-top: 3px solid #c77dff;
}
.productos-grid div img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin: 2%;
}
.botones {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.botones button {
    background-color: #e0b3ff;
    border: none;
    padding: 2% 3%;
    border-radius: 8px;
}
.botones button:hover {
    background-color: #c77dff;
}
.botones a {
    color: black;
    text-decoration: none;
}

/*Termina sección de productos en makeup perfume y cremas*/

/*Empieza Comprar.html*/
.comprar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.comprar article{
    width: 100%;
    height: auto;
    position: sticky;
    top: 120px;
    padding: 0.7%;
}
.comprar article p{
    padding: 0;
    margin: 0;
}
.comprar h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
    font-weight: 600;
    padding-bottom: 2%;
    margin-top: 3%;
}
.divForms{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.divForms div{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 235, 235);
    padding: 2%;
    box-shadow: 5px 5px 5px 2px grey;
    border-radius: 10px 10px 10px 10px;
}
.divForms div form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
    flex-wrap: wrap;
}
.divForms div form input, .divForms div form select, .divForms div form p{
    width: 43%;
    height: auto;
    padding: 1.5%;
    margin: 1%;
}
.divForms div form input, .divForms div form select{
    border: 1px solid black;
    border-radius: 8px;
}
.checkbox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border-radius: none;
    border: none;
}
.divForms div form input[type = "submit"], .divForms div form input[type = "reset"]{
    width: 40%;
    height: auto;
    padding: 1.5%;
    margin: 1%;
    border: none;
}
.divForms div form input[type = "submit"]{
    background-color: rgb(23, 207, 23);
}
.divForms div form input[type = "submit"]:hover{
    background-color: rgb(8, 192, 8);
}
.divForms div form input[type = "reset"]{
    background-color: rgb(226, 11, 11);
}
.divForms div form input[type = "reset"]:hover{
    background-color: rgb(210, 0, 0);
}

/*Termina Comprar.html*/

/*Terminan los mains*/

/*Empieza el footer*/
footer{
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}
footer div{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer div a{
    width: 15%;
    height: auto;
}
footer div a img{
    width: 100%;
    height: auto;
}
/*Termina el footer*/
